$font1: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font2: 'Montserrat', sans-serif;


//colors scheme
$grey-white: #F3F2EE;
$white: #fff;
$blue:	#0C2F57;
$ligt-brown:  5C4233;
$dark-brown: #250200;
$black: #0B0300;